[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Nexus 6P (angler) Maintainers
	label-Verified = -1..+1 group Nexus 6P (angler) Maintainers
	submit = group Nexus 6P (angler) Maintainers
	create = group Nexus 6P (angler) Maintainers
	push = +force group Nexus 6P (angler) Maintainers
	pushMerge = group Nexus 6P (angler) Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Nexus 6P (angler) Maintainers
