[access "refs/heads/*"]
	create = group Angler Maintainers
	label-Code-Review = -2..+2 group Angler Maintainers
	label-Verified = -1..+1 group Angler Maintainers
	submit = group Angler Maintainers
	push = +force group Angler Maintainers
	pushMerge = group Angler Maintainers
[access "refs/for/refs/heads/*"]
	push = +force group Angler Maintainers
	pushMerge = group Angler Maintainers
